[submodule "application/third_party/bootstrap"]
	path = application/third_party/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "application/third_party/spark_menu"]
	path = application/third_party/spark_menu
	url = https://github.com/groenewege/Spark-Menu.git
[submodule "application/third_party/formbuilder"]
	path = application/third_party/formbuilder
	url = https://github.com/groenewege/Formbuilder.git
[submodule "application/third_party/gg_admin"]
	path = application/third_party/gg_admin
	url = git@groenewege.beanstalkapp.com:/groenewege/gg_admin.git
[submodule "application/third_party/ion-auth"]
	path = application/third_party/ion-auth
	url = https://github.com/groenewege/CodeIgniter-Ion-Auth.git
